<!doctype html>
<html>
<head>
  <!-- -->
  <title> Make CO2 by country plots </title>
  <link href="http://thomasf.github.io/solarized-css/solarized-dark.min.css" rel="stylesheet">
</head>
<body>
  <h1> Plot CO2 by country </h1><br>
  <form action="/CO2bycountry" method="POST">
  Start Year<br>
  <input type="text" name="StartYearCO2"</input><br>
  End Year<br>
  <input type="text" name="EndYearCO2"</input>
  <br>
  <br> Select upper threshold <br>
   <input type="text" name="UpperThreshold"</input><br>
  <br> Select lower threshold <br>
   <input type="text" name="LowerThreshold"</input><br>
    <input type="submit" value="Submit"> <br>
  </form>
  <img src="data:image/png;base64,{{ CO2plot_by_country }}" width=100%>
</body>
</html>
