<!DOCTYPE html>
<html>

<style>
body{
	
	background-image: url("/static/paper.jpg"), url("/static/dissapointed.jpg");
	background-size: 620px 1000px, 400px 400px;
	background-position: center top;
	background-repeat: no-repeat, repeat;
}

.redtext {
	color: #b6000d;
}

.div1 {
	float: left;
}

.div2 {
	float: right;
	text-align: right;
}

#locator1 {
	position: absolute; visibility: visible; left: 175px; z-index: 200;
}

#locator2 {
	position: absolute; visibility: visible; right: 185px; z-index: 200;
}

}
</style>

<center><font size="7" color="red"><b> Oops! Looks like <i>someone</i> <br>
didn't follow the instructions,<br>
and entered invalid values...<br>
</b></font>

<font size="5"> <b> Remember that the data is recorded from 1816 to 2012<br> so you must enter values in this range.<br>
You know...<br>

<img src="/static/error1.png" style="width: 25%; height:25%" align="middle"><br>
<a href="/plots"> Back to previous page</a>
</b></font>
</center>