<!DOCTYPE html>
<html>

<style>
body{
	
	background-image: url("/static/test.png");
	background-size: 73% 160%;
	background-position: center top;
}

.redtext {
	color: #b6000d;
}

.div1 {
	float: left;
}

.div2 {
	float: right;
	text-align: right;
}

#locator1 {
	position: absolute; visibility: visible; left: 175px; z-index: 200;
}

#locator2 {
	position: absolute; visibility: visible; right: 185px; z-index: 200;
}

}
</style>

<font size="7"><b>Not everyone is on board with the idea that GLOBAL WARMING is really happening. Some might even say it's... FAKE NEWS?!?!</b> </font><br><br>


<br><br>
<!-- 
<div>
	<div class="div1"><font size="5"><b>Below this text you can generate plots for the average <br> temperatures in the US in any period from 1816-2012, <br> by entering the start and end of your desired period.</b><font>
	<br><br>

		<div id="locator1">
		<form id>
		Start Year:<br>
		<input type="text" name="startyear"><br>
		End year:<br>
		<input type="text" name="endyear"><br>
		<input type="submit" value="Submit">
		</form>
		</div>

	</div>
	<div class="div2"><font size="5"><b>Below this text you can generate plots for the global <br>emmision of CO2 in any period from 1751 to 2012, <br> by entering the start and end of your desired period.</b><font>
	<br><br>

		<div id="locator2">
		<form>
		Start Year:<br>
		<input type="text" name="startyear"><br>
		End year:<br>
		<input type="text" name="endyear"><br>
		<input type="submit" value="Submit">
		</form>
		</div>

	</div>
</div>
<br><br>
-->


<div>
	<div class="div1"><font size="5"> <b>On this page you can investigate this concept of <br> Global Warming&trade; (trademark by Chinese Government) <br> by generating plots of how the average temperature and <br> the CO2-emissions have changed over the years. <br>
	Further you can see how the emissions split among countries,<br> and even use the data to predict the future. A help-page <br>can also be found, which documents the methods used.<br>
	The data used for these models can be found <br><a href="http://berkeleyearth.
	lbl.gov/regions/contiguous-united-states">here</a> and <a href="http://cdiac.ornl.gov/
	trends/emis/meth_reg.html">here</a>.<br><br>

	(<u>Disclaimer!</u> "The data used on this site is completely <br> un-biased and has not been altered in any way by <br>
	any media outlets such as CNN and NBC." - Clinton Residence)
	</b></font>
	</div>

	<div class="div2">
		<div id="locator2">
			<font size="6"> <b><u>Get started!</u></b></font><br><br>
			<font size="5"> <b><a href="./plots">Temperature and CO2 plots</a><br><br>
			<a href="./CO2_by_country">CO2 emission by countries</a><br><br>
			<a href="./future">Predictions of the future</a><br><br>
			<a href="./help">Help page</a><br><br>


		</b></font>
		</div>
	</div>
</div>